In [31]:
import pandas as pd

In [32]:
bank_df = pd.read_csv ('/Users/anisabraun/Documents/budget_data.csv')
bank_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [49]:
#Count number of months

number_of_months=len(bank_df)

print("Total months: ",number_of_months)

net_total = bank_df['Profit/Losses'].sum()

# Calculate the changes in "Profit/Losses" over the entire period
bank_df['Profit/Losses Change'] = bank_df['Profit/Losses'].shift(1) - bank_df['Profit/Losses']
average_change = bank_df['Profit/Losses Change'].mean()

# Find the greatest increase and decrease in profits
greatest_increase = bank_df['Profit/Losses Change'].max()
greatest_increase_date = bank_df.loc[bank_df['Profit/Losses Change'] == greatest_increase, 'Date'].iloc[0]
greatest_decrease = bank_df['Profit/Losses Change'].min()
greatest_decrease_date = bank_df.loc[bank_df['Profit/Losses Change'] == greatest_decrease, 'Date'].iloc[0]

# Print out the results
print("Financial Analysis")
print("------------------")
print(f"Total Months: {number_of_months}")
print(f"Total: ${net_total}")
print(f"Average Change: ${average_change:.2f}")
print(f"Greatest Increase in Profits: {greatest_increase_date} (${greatest_increase})")
print(f"Greatest Decrease in Profits: {greatest_decrease_date} (${greatest_decrease})")

Total months:  86
Financial Analysis
------------------
Total Months: 86
Total: $22564198
Average Change: $8311.11
Greatest Increase in Profits: Feb-14 ($1825558.0)
Greatest Decrease in Profits: Aug-16 ($-1862002.0)